{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    [
      "react-intl", {
        "messagesDir": "./src/messages/extracted/"
      }
    ],
    "transform-export-extensions",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime"    
  ]
}