@import './fonts.css';

:root {
  /* colors */
  --white: #fff;
  --black: #000;
  --green: #68b04d;
  --red: #cf533a;
  --dark-red: #cf381d;
  --blue: #5b6fab;
  --orange: #d47e1c;
  --grey: #aca9a9;
  --light-grey: rgba(227, 227, 227, 0.79);
  --dark-grey: #5e5d5d;
  --darker-grey: #2c2c2b;

  /* fonts */
  --default-font: "Roboto", sans-serif;
  --exotic-font: "Lobster", cursive;
  --condensed-font: "Open Sans Condensed", condensed;

  /* transitions */
  --default-duration: 0.4s;
  --default-timing-function: ease;
}
