:root {
  --app-header-height: 200px;
}

.app-main {
  margin: var(--app-header-height) auto 0 auto;
  min-width: 768px;
  max-width: 1280px;
}

.app-header {
  position: fixed;
  height: var(--app-header-height);
  top: 0;
  left: 0;
  width: 100%;
}

.app-footer {
  width: 100%;
}
