@import '../../../theme/theme.css';

.logo {
  height: 100px;
}

.logo-text {
  font-size: 85px;
  text-transform: uppercase;
  font-family: var(--condensed-font);
  letter-spacing: -0.05em;
  fill: var(--grey);
}

